@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.header {
  background: radial-gradient($lightPrimary, $primary);
  min-height: 60rem;
  display: flex;
  margin-bottom: 5rem;

  .content {
    display: flex;
    max-width: 100%;
    align-items: center;

    .line {
      border-top: 1px solid $secondary;
      margin: 0.5rem auto 1.5rem auto;
    }

  }
  .aboutText {
    width: 50%;
    padding-right: 7rem;
    }

    .image {
      width: 50%;
      justify-content: center;
      display: flex;
    }
    
}

